body {
    background-color: #ff9;
    font-family: 'Shadows Into Light Two', 'Caveat', cursive;
    padding: 2%;
}

h1 {
    border-bottom: 3px solid #47efff;
    font-size: 30px;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
  font-size: 20px;
}

p.instructions {
    font-weight: bold;
}

div {
    background-color: #ffb190;
    border: 3px solid #47efff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding: 10px;
}

div.data {
    background-color: #ffbe61;
    margin-right: 2%;
    width: 25%
}

div.story {
    width: 73%;
}
